<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.open.blog.dao.RoleDao">
	
	<resultMap type="com.open.blog.entity.Role" id="roleResultMap">
		<id column="id" jdbcType="INTEGER" property="rid"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="introduce" jdbcType="VARCHAR" property="introduce"/>
		<result column="state" jdbcType="VARCHAR" property="state"/>
		<!-- <association property="users" javaType="com.open.blog.entity.AdminUser">
			<id column="id" jdbcType="INTEGER" property="uid"/>
			<result column="username" jdbcType="VARCHAR" property="username"/>
			<result column="password" jdbcType="VARCHAR" property="password"/>
			<result column="state" jdbcType="VARCHAR" property="state"/>
		</association> -->
	</resultMap>
	
	<select id="findRole" resultMap="roleResultMap">
		SELECT * FROM tb_role
	</select>
	
	<select id="findRoleByUserId" parameterType="INTEGER" resultMap="roleResultMap">
		SELECT * FROM tb_role r,tb_user_role u WHERE r.id = u.rid AND u.uid = #{id}
	</select>
	
	<update id="updateRoleByUserId" parameterType="INTEGER">
		
	</update>
</mapper>